.AddCategoryButton {
  @include mixins.flex(flex-start, center);
  gap: 4px;
  width: calc(100% - 20px);
  border-radius: 8px;
  background-color: colors.$white;
  padding: 8px;
  margin-bottom: 8px;

  &:hover {
    background-color: colors.$lightgray;
  }

  .icon {
    width: 20px;
    min-width: 20px;
  }
}
