.CategoryListItem {
  list-style-type: none;
  width: 100%;
  height: 38px;

  & > input {
    width: 100%;
    height: 100%;
    padding: 0 8px;
    border: 1px solid $lightgray;
    border-radius: 8px;
  }
}
