.CategoryListItem {
  @include flex;
  gap: 8px;
  padding: 0 8px;
  list-style-type: none;
  width: 100%;
  height: 38px;
  border-radius: 8px;
  background-color: $white;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: $lightgray;
  }

  &.selected {
    background-color: $lightgray;
  }
}
