.Category {
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border-radius: 8px;
  background-color: $white;
  cursor: pointer;

  &:hover {
    background-color: $lightgray;
  }

  &.selected {
    background-color: $lightgray;
  }
}
