.Category {
  @include flex(flex-start, center);
  gap: 4px;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border-radius: 8px;
  background-color: $white;

  cursor: pointer;

  &:hover {
    background-color: $lightgray;
  }

  &.selected {
    background-color: $lightgray;
  }

  .icon {
    width: 20px;
    min-width: 20px;
  }

  & > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
