@import '../task-section.mixin.scss';

.NoCategory {
  @include flex(center, center, column);
  @include backgroundStyle;
  gap: 16px;

  .image {
    font-size: 80px;
  }
  .desc {
    text-align: center;
    color: $white;
  }
  .categoryAddButton {
    width: max-content;
    margin: 0;
  }
}
