.CategoryHeader {
  @include flex(space-between, stretch);
  padding: 40px 40px 0;

  .title {
    align-content: center;
    flex: 1;
    margin-right: 16px;
    font-size: 24px;
    color: $white;
  }
}
