.DeleteCategoryButton {
  @include flex;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  border-radius: 8px;

  &:hover {
    background-color: #00000020;
  }

  .icon {
    width: 20px;
    min-width: 20px;
    color: $white;
  }
}
