@use 'sass:color';

.DeleteCategoryButton {
  @include mixins.flex;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  border-radius: 8px;

  &:hover {
    background-color: color.change(colors.$black, $alpha: 0.1);
  }

  .icon {
    width: 20px;
    min-width: 20px;
    color: colors.$white;
  }
}
