.TaskDetailCloseButton {
  @include mixins.flex;
  padding: 4px;
  border-radius: 8px;

  &:hover {
    background-color: colors.$lightgray;
  }

  .icon {
    width: 20px;
    color: colors.$gray;
  }
}
